/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw9aXpsog.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw2aXpsog.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw3aXpsog.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.imagen{
    width: 200px;
    height: 162px;
    margin: auto;
}
.Logazo{
    width: 100%;
    height: 200px;

}
.linked{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
}

.hello{
    width: 100px;
    height: 35px;
   
}

.vacio{
    width: 100px;
    height: 35px;
}
.elemento {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .elemento.mostrar {
    opacity: 1;
  }




.saberMas{
    width: 130px;
    height: 28px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 10%;
    left: 300px;
    right: 0;

    }

.saberMas .pico{
    background-color: rgb(113, 113, 113);
    width: 8px;
    margin: auto -2px;
    height: 10px;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.saberMas .cuadradito{
    background-color: rgb(113, 113, 113);
    color: white;
    border-radius: 7px;
    width: 120px;
    height: 28px;
}
.cuadradito .span{
    margin-top: 15px;
    height: 20px;
}



.contenedorBusca{
    width: 680px;
    background-color: rgb(60,60,60);
    border-radius: 5px;
    height: 47px;
    display: grid;
    position: relative;
    margin: auto auto;
}

.inputTosearch{
    width: 585px;
    height: 45px;
    outline: none;
    border: transparent;
    font-size: 1.1em;
    font-weight: normal;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin: auto auto;
    left: 30px;
}
.searchButton{
    height: 47px;
    background-color: rgb(60,60,60);
    width: 60px;
    outline: none;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0px;
    margin: 0px 0px;
    color: rgb(133, 133, 133);
    border-bottom-right-radius: 5px ;
    border-top-right-radius: 5px;
    border-top-left-radius: 0px ;
    border-bottom-left-radius: 0px;
}


.searchButton:hover{
    background-color: rgb(89, 89, 89); 
    color: white;
    outline: none;
    border: transparent;
}
