.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: #242424;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.dropdown-open {
    transform: translateX(0);
}

.hamburger {
    width: 20px;
    height: auto;
}

.menu-button {
    position: relative;
    background-color: #242424;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    top: 20px;
    right: 400px;
}

.dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #242424;
    z-index: 1;
    min-width: 160px;

}

.dropdown-list {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    fill: #1a1a1a;
}

.list2 {
    font-size: 10px;
    font-weight: bold;
}
.dropdown-list li {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 10px;
}
