.LastImage {
    background-color: #58B792;
    background-image: url('https://duckduckgo.com/assets/onboarding/bathroomguy/1-monster-v2--pre-animation.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 761px 292px;
    background-position: center bottom;
}