.LastImage {
    height: 460px;
    width: 1495px;
    background-color: #58B792;
    background-position: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 890px;
    height: auto;
    position: relative;
    top: 119px;
}